<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Carros</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/cars/add">Adicionar Carro</a>
            <a href="/cars">Listar Carros</a>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>